@{
    ViewData["Title"] = "Brak uprawnień";
}

<h1>Brak uprawnień</h1>
<p>Nie masz dostępu do tej strony.</p>

<a asp-controller="Products" asp-action="Index" class="btn btn-primary">Powrót do listy produktów</a>